html,
body {
    font-family: "Segoe UI", Helvetica, Arial;
    color: #333;
    height: 100%;
    margin: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

input {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px;
}

.clear {
    clear: both;
}

.title {
    font-size: 1.25rem;
    color: rgb(33, 37, 41);
    margin-bottom: 5px;
}

.discreteButton {
    background-color: transparent;
    color: #007bff;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.content {
    padding: 10px;
}

#mapid {
    height: 500px;
}

.form {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px;
}

.formBox {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

.formBox-position {
    width: 30%;
}

.formBox-competition {
    width: 70%;
}

.formBox-competition table {
    width: 100%;
}



.formTitle {
    font-size: 1.15rem;
    color: rgb(33, 37, 41);
    margin-bottom: 5px;
}

#teams {
    padding: 5px;
}

#teams .teamCard {
    width: 19%;
    float: left;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px;
    margin-right: 1%;
}

#teams .teamCard .teamName {
    font-size: 1.25rem;
    color: rgb(33, 37, 41);
}

@media only screen and (max-width: 1200px) {
    #teams .teamCard {
        width: 100%;
        margin-bottom: 10px;
    }

    .formBox {
        width: 100%;
    }
}