html,
body {
    font-family: "Segoe UI", Helvetica, Arial;
    color: #333;
    height: 100%;
    margin: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

input {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.title {
    font-size: 1.25rem;
    color: rgb(33, 37, 41);
    margin-bottom: 5px;
}

.discreteButton {
    background-color: transparent;
    color: #007bff;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.content {
    padding: 10px;
}

#mapid {
    height: 500px;
    background-color: rgba(0, 0, 0, .125);
}

.form {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px;
}

.formBox {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

.formBox-position {
    width: 30%;
}

.formBox-competition {
    width: 70%;
}

.formBox-competition table {
    width: 100%;
}

.divCoordinates {
    display: inline-block;
}

.formTitle {
    font-size: 1.15rem;
    color: rgb(33, 37, 41);
    margin-bottom: 5px;
}

.searchBoxTitle {
    background-color: rgba(0, 0, 0, .025);
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px;
    box-sizing: border-box;
}

.result {
    margin-top: 5px;
}

.resultTitle {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
}

.result hr {
    border-color: rgba(0, 0, 0, .125);
    width: 90%;
}

#teams {
    padding: 5px;
}

#teams .teamCard {
    width: 19%;
    float: left;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px;
    margin-right: 1%;
    height: 100px;
}

#teams .teamCard .teamName {
    font-size: 1.25rem;
    color: rgb(33, 37, 41);
}

#teams .teamCard .teamCrest {
    width: 50px;
    float: left;
}

#teams .teamCard .teamInfo {
    float: left;
    margin-left: 15px;
}


@media only screen and (max-width: 1200px) {
    #teams .teamCard {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0%;
    }

    .formBox {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    table {
        table-layout: fixed;
        font-size: 0.8em;
    }

    table td,
    table th {
        width: 125px;
    }

    table th {
        border-bottom: 1px solid #dee2e6;
    }

    .content {
        padding: 5px;
    }

    .divCompetitionTable {
        overflow: scroll;
    }

    .divCoordinates {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .divCoordinates input {
        float: right;
    }

    #address,
    #nbShownClubs {
        width: 95%;
        /* hack :( */
    }

    #teams {
        padding: 0;
    }

    #mapid {
        width: 99.999%;
    }
}